.env
.DS_Store
.vscode
node_modules
# src/wp-content/uploads
src/wp-content/plugins/hello.php
src/wp-content/themes/twentytwentyone
src/wp-content/themes/twentytwenty
src/wp-content/themes/twentynineteen
src/wp-content/themes/twentyseventeen
src/wp-content/themes/twentysixteen

src/wp-content/themes/**/assets/main/**