.header-section {
    height: 610px;
    width: 100%;

    .vc_row-fluid {
        height: 100%;

        >.vc_column_container {
            position: absolute;
            left: 50px;
            bottom: 60px;

            @media(max-width: 768px) {
                left: 20px;
                width: calc(100% - 40px);
            }

            .heading {
                font-weight: 500;
                font-size: 80px;
                line-height: 100px;
                font-style: normal;
                color: $color_3;
                margin-bottom: 40px;
                @media(max-width: 768px){
                    padding-bottom: 0 !important;
                    margin-bottom: 0 !important;
                }
            }
        }
    }

    
}