$color_1: white;
$color_2: #61890f;
$color_3: #fff;
$color_4: black;
$color_5: #000;
$color_6: #212121;
$color_7: #f5f5f5;
$color_8: #92D50A;
$background-color_1: #fff;
$background-color_2: #92D50A;
$background-color_3: transparent;
$background-color_4: wheat;
$background-color_5: white;
$background-color_6: #F5F5F5;
$font-primary: "Helvetica Neue", sans-serif;
$font-secondary: "Futura", sans-serif;

// Colors
$color-primary: #b5dbab;
$color-dark-first: #212121;
$color-dark-second: #262626;

$color-gray: #4a4848;
$color-gray-second: #D9D9D9;

$color-white: #FFFFFF;
$color-black: #000000;
$color-green: #92D50A;
$color-dark-green: #61890F;
$color-text: #1E1E1E;